#header
{
	margin:0px;

}
#home
{
  margin:0px;
  padding: 0px;
}
#books
{
  background-color:#ffccff;
  padding-top: 20px;
  padding-bottom: 20px;

}
#profile
{
	background-color:;
	height:900px;
}

#footer
{
	background-color:#1b6698;
}
#contact
{
	background-color: #3498db;
	height:700px;
}
#education
{	
	margin-top: 50px;
	height: 550px;
}
.my-caption {
  position: absolute;
  right: 15%;
  bottom: 40%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.books-t
{
  margin: 0 0 10px !important;
  font-size: 25px !important;
  line-height: 30px !important;
   font-weight: normal !important; 
   font-style: italic !important;
}
.books
{
  background: #ffffff !important;
  font-family: 'Trebuchet MS', Tahoma, Helvetica, Arial, Verdana, sans-serif !important;
  font-size: 14px !important;
  line-height: 135% !important; 
  border-bottom: solid 1px #bfbfbf !important;
  height: 400px;
  margin-bottom: 10px;
}

/*--------------------------------------------*/


.my-button {
  font-size:16px;
  background:rgba(242, 242, 242,0);
  border:2px solid white;
  height:100px;
  padding:20px;
  cursor:pointer;
  border-radius:30px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.my-button:hover {
  
  border:2px solid white;
  background:rgba(242, 242, 242,0.4);
  transform:scale(1.05,1.05);
  /*box-shadow:0px 0px 10px rgba(176,54,54,.9);*/
}

/*--------------------------------------------*/

/* Mixings &  Variables */
.clearfix,
.clearfix:before,
.clearfix:after {
  display: block;
  content: " ";
  clear: both;
  zoom: 1;
}
/* Resets */
.wrap {
  margin: 0 auto;
  
  max-width: 1200px;
}
/* Bar Graph Class */
.barGraph {
  position: relative;
  width: 100%;
  height: auto;
  
}
.graph {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: calc(96%);
  left: 4%;
}
.graph-barBack {
  border-radius: 2px;
  background: #DAE4EB;
 
  margin-bottom: 30px;
  display: block;
}
.graph-bar {
  background-color: #59BAC0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  /*z-index: 9999;*/
  display: block;
  height: 20px;
  width: 0%;
}
.graph-bar:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #428D92;
}
.graph-bar:last-child {
  margin-bottom: 0;
}
.graph-bar:after {
  position: absolute;
  content: attr(data-value);
  display: none;
  font-size: 12px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 20px;
  height: 20px;
  padding: 0 10px;
  margin-left: 5px;
  left: 100%;
  top: 0;
}
.graph-bar:hover:after {
  display: block;
}
.graph-legend {
  position: absolute;
  margin-right: 10px;	
  left: -70px;
  /*z-index: 9999;*/
}

/*--------------------------------------------*/
input, textarea:focus {
  outline: none;
}

.my-item {
  margin-bottom: 20px;
}

.full {
  width: 100%;
}

.indent {
  padding-right: 15px;
  padding-left: 15px;
}

#main {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-top: 10%;
}
.header h1 {
  display: table;
  margin: 0 auto;
  font-size: 4em;
  border-bottom: 2px solid #ebf5fb;
  font-weight: normal;
  color: #ebf5fb;
}

.form {
  margin-top: 5%;
}
.form input[type="text"], .form textarea {
  border: 2px solid #9acced;
  background: transparent;
  padding: 7px;
  font-size: 1.1em;
  color: #d6eaf8;
  -webkit-transition: border 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.form input[type="text"]:focus, .form textarea:focus {
  border-color: #d6eaf8;
}
.form textarea {
  height: 200px;
}
.form button[type="submit"] {
  font-size: 1.3em;
  color: #c2e0f4;
  border: none;
  padding: 8px 20px;
  background: #2a7aaf;
  border-bottom: 3px solid #1f5b83;
}
.form button[type="submit"]:hover {
  cursor: pointer;
  background: #2c81ba;
}

::-webkit-input-placeholder {
  color: #aed6f1;
}

::-moz-input-placeholder {
  color: #aed6f1;
}

:-moz-input-placeholder {
  color: #aed6f1;
}

:-ms-input-placeholder {
  color: #aed6f1;
}



