*{margin:0;}
#up
{
	background-color:red;
}
header>h1
{
	color:black;
	text-align:center;
}
nav{text-align: right;}
#section:hover
{	
	float:left;
	width:59%;
	height: 560px;
	border: 1px solid;
	border-radius:20px;
	background-color: rgba(0, 0, 255, 0.5);
}
#section
{	
	float:left;
	width:59%;
	border: 1px solid;
	border-radius:20px;
	height: 560px;
	border-radius:20px;
	background-color: rgb(0, 0, 255);
}
#aside
{		
	float:left;
	width:39%;
	height: 560px;
	border-radius:20px;
	background-color: rgb(255, 0, 0);
}#aside:hover
{		
	float:left;
	width:39%;
	height: 560px;
	border-radius:20px;
	background-color: rgba(255, 0, 0, 0.5);
}
#footer
{
	background-color: black;
	color: white;
}
#clear
{
	clear:both;
}
a:hover
{
	background-color:grey;
}